# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [3]:
df=pd.read_csv("wine.csv")

### Step 3. Assign it to a variable called wine

In [4]:
wine=df
wine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [5]:
wine.drop(wine.columns[[0,3,6,8,11,12,13]],axis=1)

     14.23  1.71  15.6  127  3.06  2.29   5.64
0    13.20  1.78  11.2  100  2.76  1.28   4.38
1    13.16  2.36  18.6  101  3.24  2.81   5.68
2    14.37  1.95  16.8  113  3.49  2.18   7.80
3    13.24  2.59  21.0  118  2.69  1.82   4.32
4    14.20  1.76  15.2  112  3.39  1.97   6.75
..     ...   ...   ...  ...   ...   ...    ...
172  13.71  5.65  20.5   95  0.61  1.06   7.70
173  13.40  3.91  23.0  102  0.75  1.41   7.30
174  13.27  4.28  20.0  120  0.69  1.35  10.20
175  13.17  2.59  20.0  120  0.68  1.46   9.30
176  14.13  4.10  24.5   96  0.76  1.35   9.20

[177 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol <br>
2) Malic acid<br>
3) Ash<br>
4) Alcalinity of ash<br>
5) Magnesium<br>
6) Total phenols<br>
7) Flavanoids<br>
8) Nonflavanoid phenols<br>
9) Proanthocyanins<br>
10)Color intensity<br>
11)Hue<br>
12)OD280/OD315 of diluted wines<br>
13)Proline<br><br>

NOTE: 0th attribute is class identifier - Type of cultivator (1-3)<br>

In [6]:
wine.columns = ['Type of Cultivator', "Alcohol","Malic_acid","Ash","Alcalinity_of_ash","Magnesium","Total phenols","Flavanoids","Nonflavanoid phenols","Proanthocyanins","Color intensity","Hue","OD280/OD315 of diluted wines","Proline"]
wine

,Type of Cultivator,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [9]:
wine.Alcohol.iloc[:3]=np.nan
wine

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Type of Cultivator,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,NaN,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,NaN,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,NaN,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,NaN,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,NaN,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [8]:
wine.Magnesium.iloc[3:5]=np.nan
wine

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Type of Cultivator,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,NaN,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,NaN,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [11]:
wine.Alcohol=wine.Alcohol.fillna(10)
wine.Magnesium=wine.Magnesium.fillna(100)
wine

,Type of Cultivator,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,10.00,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,10.00,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,10.00,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,100.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,100.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 9. Count the number of missing values

In [11]:
wine.isnull().sum()

Alcohol                         0
Malic_acid                      0
Ash                             0
Alcalinity_of_ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [12]:
array=np.random.randint(0,10,10)
array

array([3, 3, 1, 6, 3, 5, 6, 2, 6, 2])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [13]:
wine.iloc[array]=np.nan
wine

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,10.00,1.78,2.14,11.2,10.00,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.20,1.76,2.45,15.2,14.20,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,13.71,5.65,2.45,20.5,13.71,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
173,13.40,3.91,2.48,23.0,13.40,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
174,13.27,4.28,2.26,20.0,13.27,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
175,13.17,2.59,2.37,20.0,13.17,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
176,14.13,4.10,2.74,24.5,14.13,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

### Step 12.  How many missing values do we have?

In [14]:
wine.isnull().sum()

Alcohol                         5
Malic_acid                      5
Ash                             5
Alcalinity_of_ash               5
Magnesium                       5
Total phenols                   5
Flavanoids                      5
Nonflavanoid phenols            5
Proanthocyanins                 5
Color intensity                 5
Hue                             5
OD280/OD315 of diluted wines    5
Proline                         5
dtype: int64

### Step 13. Delete the rows that contain missing values

In [15]:
wine.dropna()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,10.00,1.78,2.14,11.2,10.00,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
4,14.20,1.76,2.45,15.2,14.20,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0
7,14.83,1.64,2.17,14.0,14.83,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0
8,13.86,1.35,2.27,16.0,13.86,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045.0
9,14.10,2.16,2.30,18.0,14.10,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,13.71,5.65,2.45,20.5,13.71,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
173,13.40,3.91,2.48,23.0,13.40,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
174,13.27,4.28,2.26,20.0,13.27,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
175,13.17,2.59,2.37,20.0,13.17,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
176,14.13,4.10,2.74,24.5,14.13,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

### Step 14. Print only the non-null values in alcohol

In [16]:
wine.Alcohol.dropna()

0      10.00
4      14.20
7      14.83
8      13.86
9      14.10
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: Alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [17]:
wine.reset_index()

,index,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0,10.00,1.78,2.14,11.2,10.00,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,14.20,1.76,2.45,15.2,14.20,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,13.71,5.65,2.45,20.5,13.71,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
173,173,13.40,3.91,2.48,23.0,13.40,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
174,174,13.27,4.28,2.26,20.0,13.27,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
175,175,13.17,2.59,2.37,20.0,13.17,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
176,176,14.13,4.10,2.74,24.5,14.13,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0